{% extends 'base.html' %} {% block content %}
<div class="container card p-5 mt-5">
  <div class="card-header">
    <h1>Login to your account</h1>
    <span
      ><small class="text-muted"
        >need an account<a href="/register"> Register</a></small
      ></span
    >
  </div>
  <form method="POST">
    {{form.hidden_tag() }} {% for field in form if field.widget.input_type !=
    'hidden'%}
    <p>
      {{field.label}} {{ field(class_="form-control")}} {% for error in
      field.errors %}
      <span class="form-text text-danger">{{ error }}</span>
      {% endfor %}
    </p>
    {%endfor%}
    <button class="btn btn-success" type="submit">login</button>
  </form>
</div>

{% endblock %}
